<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controladoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>CONTROLADORIA</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="panel_file">Selecione o arquivo do Aniel chamado <b>Painel de Serviços.xlsx</b></label>
            <br>
            <input type="file" id="panel_file" name="panel_file" required>
            <br><br><br>
            <label for="office_file">Selecione o arquivo com a base dos office-boys chamado <b>Office-boys.xlsx</b></label>
            <br>
            <input type="file" id="office_file" name="office_file" required>
            <br>
            <br>
            <br>

            <button type="submit">Criar Relatório</button>
        </form>
    </div>
</body>
</html>